/* Theme URL: https://coolors.co/6f8695-2fbf71-faf3dd-132e32-ee7674 */
/* Primary: #EE7674 */
/* Secondary: #132E32 */
/* Text: #FAF3DD */
/* Success: #2FBF71 */
/* Grey: #6F8695 */

h1 {
    margin: 0;
}

body {
    background-color: #ED706E;
    color: #FAF3DD;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #132E32;
    margin: 20px auto;
    padding: 25px 25px;
    width: 85%;
    height: 90vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card {
    border-radius: 30px;
    width: 25%;
    height: 300px;
    border-style: solid;
    margin-top: 25px;
    text-align: center;
}

